@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&family=Merriweather:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
h2, span, h1 {
    font-family: 'Merriweather', serif;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.wrapper img {
    margin-left: 35px;
}
.subheader {
    color: #BDBDBD;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
    text-transform: uppercase;
}
nav ul a {
    text-decoration: none;
    color: #222222;
    font-weight: 600;
    font-size: 14px;
}
.wrapper .fa-bars {
    display: none;
}
#background {
    background-image: url(../images/first.icon.png);
    height: 672px;
    padding: 55px 450px 150px 0;
    margin: 0 auto;
}
#background div {
    margin: 150px 25%;
}
#background div h1 {
    width: 595px;
    font-size: 48px;
    font-weight: 700;
    color: white;
}
#background div button {
    background-color: #005FA3;
    padding: 19px 18px;
    max-width: 234px;
    color: white;
    border-color: transparent;
    font-size: 18px;
    font-weight: 400;
    margin-top: 100px;
}
#about {
    padding: 140px 0;
}
/* > - только прямые потомки дети только конкретно к этому div */
#about > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
}
#about h2 span {
    color: #005FA3;
    display: block;
}
#about .achievements {
    display: grid;
    grid-template-columns: repeat(2, 255px);
    grid-auto-rows: 255px;
    gap: 30px;
}
#about .achievements .item {
    background-color: #EBEBEB;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about .achievements .item:hover {
    background-color: #005FA3;
    color: white;
}
#about .achievements .item a {
    color: #005FA3;
}
#about .item:hover a {
    color: white;
}
#about .achievements .item .value {
    font-weight: 900;
    font-size: 55px;
}
#services {
    background-color: #EBEBEB;
    padding: 140px;
}
.services_container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-rows: 360px;
    gap: 30px;
    color: white;
    font-size: 24px;
    font-weight: 900;
}
.services_container div {
    background-image: url(../images/build.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    padding: 45px;
    position: relative;
}
#services h2 {
    margin-bottom: 100px;
}
.services_container div:hover::before {
    content: "";
    background-color: rgba(0, 95, 163, 0.65);
    height: 360px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.info p:last-child {
    font-size: 18px;
    font-weight: 300;
    margin-top: 60px;
    max-width: 455px;
}
#contacts {
    background-image: url(../images/Contacts.img.png);
    color: white;
    padding: 122px 0 140px 0;
}
#contacts a {
    font-size: 21px;
    color: white;
    text-decoration: none;
}
#contacts .wrapper div div {
    display: flex;
    justify-content: space-between;
}
#contacts i {
    margin: 15px;
    font-size: 25px;
}
#contacts .wrapper {
    display: flex;
    gap: 40px;
}
#contacts form input {
    width: 255px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 15px 0;
    color: white;
}
#contacts form textarea {
    resize: none;
    width: 540px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 15px 0;
    color: white;
}
#contacts form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#contacts form > label {
    display: block;
    margin: 35px 0 50px 0;
}
#contacts form button {
    background-color: #005FA3;
    padding: 19px 18px;
    color: white;
    border-color: transparent;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-right: 0;
    margin-left: auto;
}
#contacts .wrapper > div p {
    margin: 60px 0 80px 0;
    font-size: 18px;
    width: 445px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
    ;
    padding: 26px 0;
    font-size: 14px;
    padding: 40px 15%;
}
.footer-bottom a {
    text-decoration: none;
    color: #000;
}

@media (max-width: 1100px) {
    .wrapper {
        max-width: 600px;
    }

    .wrapper .fa-bars {
        display: block;
        cursor: pointer;
        font-size: 35px;
    }

    nav ul {
        display: none;
    }
    
    .services_container {
        grid-template-columns: 1fr;
    }

    #about > div {
        grid-template-columns: 1fr;
    }

    #about .achievements {
        grid-template-columns: 1fr;
        grid-auto-flow: 120px;
    }
    #about .achievements .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #background div h1 {
        text-align: center;
        padding-right: 40px;
    }

    #background div button {
        display: block;
        margin: 50px 200px;
    }

}